body{
	background: #fff;
	margin: 0;
    padding: 0;
    font-family: Arial;


}
html{
    color: -internal-root-color;

}
.dropdown{
    margin:0;
}

    nav{
        height: 70px;
        background: white;
        border-bottom:1px solid lightgray;
        line-height:60px;
        
    }
    .logo{
        padding: 5px 0 0 70px;
        width: 60px;
        height: auto;
        position:absolute;
        top:8px;
        height:50px;
    }
    nav ul{
        padding: 0px;
        margin: 0;
        float: right;
        margin-right: auto;
        margin-top: 5px;
        margin-right: 3px;
        
    }
    nav ul li{
        background: white;
        position: relative;
        list-style: none;
        display: inline-block;
     
    }
    nav ul li a:hover{
        color:rgba(17, 109, 255, 1) !important;
    }
    nav ul li a{
        display: block;
        padding: 0 6px;
        color: black;
        text-decoration: none;
        line-height: 40px;
        font-size: 13px;
        transition: .5s;
        width: 90px;
    }
    nav ul li a:hover{
        background: white;}
        nav ul ul{
            position: absolute;
            top: 50px;
            line-height: 10px !important;
            display: none;
        }
        nav ul li:hover > ul{
            display: block;
        }
        nav ul ul li{
            width: 130px;
            float: none;
            display: list-item;
            position: relative;
            line-height: 20px !important;
        }
        nav ul ul ul li{
            position: relative;
            top: -60px;
            left: 150px;
        }
        
        .sign{
            background-color: white;
            border-radius: 20px;
            font-size: 17px;
            height: 34px;
            width: 115px;
            border:solid rgba(17, 109, 255, 1) 1px;
            color:#116DFF;
            background-color:transparent;
           cursor: pointer;
           padding-right: 8px;
        }
        .sign:hover{
            background-color: #116DFF !important;
            color:white !important;


        }
        .body{
            padding: 0 20px;
        }
        h1{
            font-size: 90px;
            text-align: center;
        }
        i{
            font-size: 19px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
        }
        span{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;

        }
        .get{
            background-color: rgba(17, 109, 255, 1);
            border:solid rgba(15, 107, 255, 1) 0px;
            cursor:pointer !important;
            color:white;
            border-radius: 30px;
            font-size: 22px;
            cursor:pointer;
            width: 180px;
            height: 58px;
            
            
        }
        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        